@import "../../asset/css/util";

/*背景大图*/
.bg-img {
  img {
    width: auto;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.bg-img-all {
  img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

/*背景大图动画*/
.bg-img-animate {
  img {
    @include animation(bgImgAnimate 10s infinite);
  }
}

@keyframes bgImgAnimate {
  50% {
    @include transform(scale(1.1))
  }
  100% {
    @include transform(scale(1))
  }
}