@import "../../asset/css/util";

.talk-page {
  .bg {
    background-color: rgba(0, 0, 0, 0.56);
  }
  .function {
    position: absolute;
    top: 25%;
    left: 10%;
    width: 80%;
  }
  .hung-up {
    position: absolute;
    width: 30%;
    left: 50%;
    margin-left: -15%;
    bottom: 10%;
  }
  .count-down-title {
    width: 100%;
    text-align: center;
    height: 77px;
    line-height: 77px;
    color: white;
    font-size: 10vw;
    font-family: FZKaTong;
    position: absolute;
    top: 20px;
  }
  .count-down-time {
    width: 100%;
    text-align: center;
    font-size: 5vw;
    color: white;
    position: absolute;
    top: 110px;
  }
}